<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="nav">
        <a class="nav-link" routerLink="/films" aria-current="page" href="#" routerLinkActive="active">Films</a>
        <a class="nav-link" routerLink="/directors" aria-current="page" href="#" routerLinkActive="active">Directors</a>
    </div>
           
            <a class="nav-link" routerLink="/about" aria-current="page" href="#" routerLinkActive="active">About</a>
</nav>

<router-outlet></router-outlet>
